doctype html
html
  head
    meta(charset="UTF-8")
    script(src="bower_components/jquery/dist/jquery.min.js")
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
  body
    #main
    script(src="dist/main.js")